@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600s;s0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {}

@media only screen and (min-width: 200px) and (max-width: 680px) {
    .navbar-brand {
        width: 35%;
        position: absolute;
        top: 5px;
        right: -5px;
    }

    .mynav {
        position: inherit;
        width: 100% !important;
    }

    .form {

        top: 15%;
        height: 450px;
        left: 0 !important;
        padding: 0;
        margin: auto;
        position: relative !important;
        z-index: -1 !important;
        margin-top: 5px !important;
    }

    .contact-form {
        padding: 30px 25px !important;
        border-radius: 10px !important;
        max-width: 335px !important;
        margin-inline: 8px !important;
        background-color: #625e5e45 !important;
    }

    .float-button {
        margin-top: 10px !important;
    }

    .floating-call {
        font-size: 22px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .floating-insta {
        font-size: 22px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .floating-whatsapp {
        font-size: 22px !important;
        width: 40px !important;
        height: 40px !important;
    }

    #toTopBtn {

        padding: 17px !important;
    }

    .fa-bars:before {
        color: black;
    }

    .navbar-toggler {
        outline: none !important;
    }

    .service-section {
        
        margin-top: 30px;
    }

    .text1 {

        font-size: 18px !important;
        top: -60% !important;
        left: -86% !important;

        position: fixed !important;
    }

    .text2 {

        font-size: 16px !important;
        line-height: 20px !important;
        margin-top: 20px !important;
        left: -86% !important;

        position: fixed !important;

    }


    .zoom {
        margin-bottom: 10px !important;
    }

    .number-element-title {
        font-size: 25px !important;
        line-height: 35px !important;
    }

    .num-padding {
        padding: 25px !important;
    }

    .feedback-fig-caption {
        margin-bottom: 28px !important;
    }

    .team-heading-desc {
        margin-bottom: 28px !important;
    }

    .footer-container {
        padding: 25px !important;
    }

    .get-in-touch {
        padding: 25px !important;
    }

    .get-in-touch {
        padding: 25px !important;
    }

    .column-order {
        order: -1;
    }

}



.bg-dark {

    transition: 0.75s ease;
    background-color: white !important;
}


.mynav-middle-items.scrolled {
    color: black;
    font-size: 16px;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.mynav {

    margin: auto;
    border: 2px solid rgb(116 98 98 / 18%);
    border-radius: 4px;
    border-top: none;
}

.mynav-middle {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.mynav-middle-items {
    color: black !important;
    position: relative;
    font-size: 16px;
    font-weight: 800px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    transition: all .5s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

}

.mynav-middle-items::after {
    content: "";
    position: absolute;
    left: 17px;
    bottom: 10px;
    width: 70%;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: left;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;

}

.mynav-middle-items:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.mynav-middle-items:hover {
    color: #86bb46 !important;

}

/*---------NAVBAR-END-----*/

/* -----contact form-------- */

.contact-form {
    background-color: rgb(255, 255, 255);
    max-width: 335px;
    padding: 30px 25px;
    border-radius: 0px 60px;
}

.contact-form .title {
    text-align: center;
    font-size: 22px;
    width: 65%;
    color: white;
    background-color: #86bb46;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto auto 26px;
    border-radius: 50px;
    font-family: Asap, sans-serif;
}

.contact-form .submit-button-wrapper input {
    background-color: #86bb46;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50px;
    padding: 10px 38px;
    font-family: Asap, sans-serif;
}

::placeholder {
    color: rgba(0, 0, 0, 0.747) !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 42px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: 100PX;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: #86bb46;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #86bb46;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
}

.contact-form .submit-button-wrapper {
    text-align: center;
}

















/* -----contact form-------- */

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}


.carousel-caption p {
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: white;
    text-transform: none;
    font-style: normal;
    position: absolute;
    left: 4%;
    top: 20%;
}




.text1 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
    animation: text 3s 1;
}

@keyframes text {
    0% {
        color: black;
        background: white;
        margin-bottom: 20px;
    }

    30% {
        letter-spacing: 15px;
        background: white;
        margin-bottom: 30px;
        color: #86bb46;
    }

    85% {
        letter-spacing: 15px;
        background: white;
        margin-bottom: 40px;
        color: #86bb46;
    }
}





.form {
    position: absolute;
    z-index: 10;
    top: 15%;
    height: 450px;
    left: 12%;

}


/*---------SERVICE-SECTION START-----*/

.service-section {
    background: #f3f3f3;
}

.service-title {
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #86bb46;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-style: normal
}

.service-subtitle {
    font-family: Asap, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #2c2c2c;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5);
    /* Safari 3-8 */
    transform: scale(.5);
}

/*---------SERVICE-SECTION END-----*/

/*---------NUMBER-SECTION START-----*/

.number-element-subtitle {
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #86bb46;
    text-transform: uppercase;
    font-style: normal;
}

.number-element-title {
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: #2c2c2c;
    text-transform: none;
    font-style: normal;
}

.number-heading-desc {
    max-width: 800px;
    margin-top: 10px;
    font-family: Asap, sans-serif;
    color: #888888;
}

.numbers-digit-subheading-desc {
    max-width: 800px;
    margin-top: 10px;
    font-family: Asap, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.num-padding {
    padding: 40px;
}

.numbers-digit-subheading {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: Asap, sans-serif;
    color: #86bb46;
    line-height: 38px;
    font-style: normal;
}

/*---------NUMBER-SECTION END-----*/



/*---------OUR-CLIENTS START-----*/

.mynav-middle-items {
    color: white;
    font-size: 16px;
    font-weight: 800px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.team-heading-desc {
    max-width: 800px;
    margin-top: 10px;
    font-family: Asap, sans-serif;
    color: #888888;
}

.card-title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #86bb46;
}

.card-subtitles {
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}

.card-subtitles:hover {
    color: #86bb46;
}

/*---------OUR-CLIENTS END-----*/


/*---------GET-IN-TOUCH-START-----*/
.get-in-touch {
    background: #86bb46;
    padding: 45px;
}

.get-in-touch-title {
    font-family: Asap, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: white;
    text-transform: none;
    font-style: normal;
}

.get-in-touch-subtitle {
    font-family: Asap, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-style: normal;
}

.get-in-touch-button {
    width: 50%;
    font-family: Asap, sans-serif;
    border-radius: 4px;
    height: 45px;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    outline: none !important;
    background-color: #86bb46;
    color: white;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.get-in-touch-button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 700;
}


/*---------GET-IN-TOUCH-END-----*/



/*------------FOOTER-START--------*/
footer {
    background-color: #0c121d;
    color: white;
}

.footer-logo {
    margin-top: 20px;
}

.widget-title {
    font-family: Asap, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: none;
    font-style: normal;
    margin: 30px 0 30px 0;

}

.widget-para {
    font-family: Roboto, sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
}

.contact-widget-phone {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.contact-widget-email {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

.contact-widget-address {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

.footer-menu li {
    padding-bottom: 10 px;

}

.footer-menu li a {

    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.footer-menu li a:hover {
    color: #86bb46;
}

.menu-company-container ul li ::before {
    content: "\00BB";
    font-size: 22px;
    padding-right: 12px;
}


.footer-searchbar {
    background-color: transparent;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, .2);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}

.searchbtn {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, .2);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    background-color: #86bb46;
    color: white;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.searchbtn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.footerimg {
    max-width: 100%;
    height: auto;
}

.widget-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.widget-subtitle:hover {
    color: #86bb46;
}

.widget-subtitle-date {
    color: #86bb46;
}

.footer-col3-text-padding {
    padding-bottom: 30px;
}

/*-------Copyright section----------*/
.copyright-section {
    border-top: 1px solid rgba(255, 255, 255, .07)
}

.footer-copyright-text-area {
    padding: 35px 0 35px 0;
    color: white;
}

/*------- End Copyright section----------*/



/*floating button*/

.floating-whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 190px;
    right: 12px;
    background-color: #86bb46;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.floating-insta {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 125px;
    right: 12px;
    background-color: #86bb46;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float-button {
    margin-top: 14px;
}

.floating-call {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 255px;
    right: 12px;
    background-color: #86bb46;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.scroll {
    color: #fff;
    margin-top: 100px;
}

/*-------------floating-button-end--------------*/



/*-----------------back-to-top-button-start--------------------*/


#toTopBtn {
    position: fixed;
    bottom: 16px;
    right: 15px;
    z-index: 98;
    padding: 21px;
    border-radius: 50px;
    background-color: #86bb46;

}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #86bb46;
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
}

/*-----------------back-to-top-button-end--------------------*/




/* -------Key features---------- */
.content {
    border: 1px solid rgba(216, 215, 215, 0.979);
    border-radius: 10px;
    padding: 70px 25px 60px 25px;
    height: 250px;
}

.features-icon {
    position: relative;
    left: 38%;
    top: 28px;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
    min-height: 55px;
    min-width: 55px;
    padding: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 360px;
    background-color: #86bb46;
    cursor: pointer;
    transition: top 0.4s ease-in-out;
}

.features-icon:hover {
    top: 3px;

}

.key-feature-hover {
    transition: 0.5s ease-in-out;
}

.key-feature-hover:hover {
    color: #86bb46;
}

/* ---------key features----------------- */